<!DOCTYPE html>
<html>
  <head>
    <title>MomaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <h1>MoMA Artists</h1>
      <nav>
        <%= link_to 'Artist Index', artists_path %>
        |
        <%= link_to 'Add Artist', new_artist_path %>
      </nav>
      <hr>
    </header>

    <%= yield %>

  <footer>
    <hr>
    &copy; Art School Dropout Productions 2020
  </footer>


  </body>
</html>
