<!DOCTYPE html>
<html>
  <head>
    <title>TunrDb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>
  </head>

  <body>
    <h1>Tunr!</h1>
    <nav>
      <% if @current_user.present? %>
        Hello, <%= @current_user.name %>
        |
        <%= link_to 'Logout', login_path, method: 'delete' %>
      <% else %>
        <%= link_to 'Login',  login_path %>
        |
        <%= link_to 'Sign Up', new_user_path %>
      <% end  %>
    </nav>
    <hr>

    <%= yield %>
  </body>
</html>
