
<h2>Create an Account</h2>

<% if @user.errors.full_messages.any? %>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<!-- 'form_with' is the newest way of doing forms in rails, for both model-related forms and non-model forms -->
<%= form_for @user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br>

  <%= f.submit 'Sign Up' %>

<% end %>
